html, body {
    margin: 0;
    padding: 0;
    background-color:blue;
    overflow:hidden;
    cursor: url('/GLITCH/left_right_cursor.png'), pointer;

  }

  canvas {
    display: block;
    margin:auto;
  }
  