@font-face {
    font-family:riposte;
    font-style:normal;
    src:url(riposte_regular.otf);
}

@font-face {
    font-family:gtamerica;
    font-style:normal;
    src:url(GT-America-Medium.otf);
}

body {
background-color:blue;
}

p {
    text-align:center;
    vertical-align:center;
    text-align:center;
    font-family:gtamerica;
    font-size: 90px;
    
    letter-spacing:0px;
    line-height:110px;
    color:white;
}


.center {
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;

    
}

a {
    color:blue;
    -webkit-text-stroke: 1px white;
    text-decoration:none;
}

a:hover{
    color:white;
}