 body{
    background-color:#ebe9e9;
 }
 p {
     font-size: 18px;
     font-family: 'Courier New', Courier, monospace;
     max-width: 55%;
     min-width: 20%;
     margin-left:10%;
 }

 h1{
    font-size:30px;
    font-family:'Lucida Sans', Verdana, sans-serif;
    color:#20597e;
 }

 h2 {
     font-size: 24px;
     font-family:'Lucida Sans', Verdana, sans-serif;
     color: #4a639c;
     max-width: 60%;
     min-width: 20%;
     margin-left:2%;
 }

 h3 {
     font-size: 20px;
     font-family:'Lucida Sans', Verdana, sans-serif;
     color: #73628A;
     max-width: 60%;
     min-width: 20%;
     margin-left:5%;

 }

 .highlighted {
     background-color: #a694bf;
     color:#EAEAEA
 }

 img {
     max-width: 60%;
     min-width: 20%;
     margin-left:5%;
    border:2px solid #a694bf;
 }