@font-face {
    font-family: 'timezone';
    src: url("HALTimezone-Regular.ttf");
    font-style: regular;
}

@font-face {
    font-family: 'timezone';
    src: url("HALTimezone-RegularItalic.ttf");
    font-style: italic;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;

    background-color:blue;
    color:#b5c3eb;

    font-family:timezone;
}

#header_inner {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    width:96vw;
    margin:auto;
    text-align:center;
    font-size: 14px;
    text-transform: uppercase;
    flex: 1;
    line-height:30px;
    transition: 0.25s ease;
    overflow: hidden;
}

button {
    background-color: blue;
    color:#b5c3eb;
    border: 1px solid #b5c3eb;

    text-transform: uppercase;
    font-size:14px;

    font-family:timezone;
    
}

button:hover {
    background-color:#b5c3eb;
    color:blue;
    transition: 0.25s ease;
}

#hide_btn {
    opacity:0%;
}

#og_text_0 {
    display:block;
}

a:link {
    text-decoration: none;
}

a {
    color:#b5c3eb;
    text-decoration:none;
}

a:hover {
    color:blue;
}

.palette {
    border-top: 1px solid #b5c3eb;
    padding:1vh 3vw;
  }
  
  
  .title {

    font-size: 14px;
    text-transform: uppercase;
    margin-bottom:1vh;
  }
  
  .flex-row {
    display: flex;
    flex-wrap:wrap;
    gap: 2vw;
    align-items: flex-start;
  }
  
  .color-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vw;
  }
  

  .color {
    width: 10vw;
    height: 10vw;
  }
  

  .caption {
    font-size: 14px;
    text-align: center;
    margin-top: 0.4rem;
    line-height: 1.3;
    word-wrap: break-word;
    
  }