 @font-face {
    font-family:'sprat';
    src: url(../fonts/SpratVF.woff2);
 }
 
 /* set background color */
 body {
     background-color: #ebe9e9;
 }

 /* set characteristics of article paragraphs */
 main {
     max-width: 65%;
     min-width: 20%;
     padding: 1rem;
     margin-left: 30%;
 }

 /* set characteristics of navigation/table of contents */
 .navigation{
    box-sizing:border-box;
    font-family:'Courier New', Courier, monospace;
    max-width:30%;
    min-width:10%;
    padding:1rem;
    position:fixed;
    left:2%;
    color:#73628A;
 }
 .navigation-primary{
    font-size:18px;
 }
 .navigation-secondary{
    font-size:16px;
 }

 h1 {
     font-size: 24px;
     font-family:'Courier New', Courier, monospace;
     color: black;
 }

 h2 {
     font-size: 22px;
     font-family: 'Courier New', Courier, monospace;
     color: #73628A;
 }

 h3 {
     font-size: 18px;
     font-family: 'Courier New', Courier, monospace;
     color: #73628A;

 }

 p {
    font-size: 18px;
    font-family: 'sprat', serif;
    font-stretch:narrower;
    font-weight:100;
}


 /* set characteristics of highlighted text */
 .highlighted {
     background-color: #a694bf;
     color: #ebe9e9;
 }

 /* changes images to border boxes and sets characteristics */
 img {
     display: block;
     box-sizing: border-box;
     max-width: 100%;
     padding: 2rem;
     border: 1px solid #a694bf;
     margin-top: 4%;
     margin-bottom: 4%;
 }

 .navigation a{
    color:#73628A;
 }
 .navigation a:hover{
    color:black;
 }